Client2Web/Web References/DocumentManagementService/DocumentManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="downloadDocumentLen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadDocumentLenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="downloadDocumentLenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Paste">
        <s:complexType />
      </s:element>
      <s:element name="PasteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PasteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType />
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType />
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="downloadDocumentLenSoapIn">
    <wsdl:part name="parameters" element="tns:downloadDocumentLen" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentLenSoapOut">
    <wsdl:part name="parameters" element="tns:downloadDocumentLenResponse" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:downloadDocument" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:downloadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="PasteSoapIn">
    <wsdl:part name="parameters" element="tns:Paste" />
  </wsdl:message>
  <wsdl:message name="PasteSoapOut">
    <wsdl:part name="parameters" element="tns:PasteResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentLenHttpGetIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentLenHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentHttpGetIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PasteHttpGetIn" />
  <wsdl:message name="PasteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateHttpGetIn" />
  <wsdl:message name="CreateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn" />
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentLenHttpPostIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentLenHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentHttpPostIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="downloadDocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PasteHttpPostIn" />
  <wsdl:message name="PasteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateHttpPostIn" />
  <wsdl:message name="CreateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn" />
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DocumentManagementServiceSoap">
    <wsdl:operation name="downloadDocumentLen">
      <wsdl:input message="tns:downloadDocumentLenSoapIn" />
      <wsdl:output message="tns:downloadDocumentLenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadDocument">
      <wsdl:input message="tns:downloadDocumentSoapIn" />
      <wsdl:output message="tns:downloadDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <wsdl:input message="tns:PasteSoapIn" />
      <wsdl:output message="tns:PasteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DocumentManagementServiceHttpGet">
    <wsdl:operation name="downloadDocumentLen">
      <wsdl:input message="tns:downloadDocumentLenHttpGetIn" />
      <wsdl:output message="tns:downloadDocumentLenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadDocument">
      <wsdl:input message="tns:downloadDocumentHttpGetIn" />
      <wsdl:output message="tns:downloadDocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <wsdl:input message="tns:PasteHttpGetIn" />
      <wsdl:output message="tns:PasteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateHttpGetIn" />
      <wsdl:output message="tns:CreateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DocumentManagementServiceHttpPost">
    <wsdl:operation name="downloadDocumentLen">
      <wsdl:input message="tns:downloadDocumentLenHttpPostIn" />
      <wsdl:output message="tns:downloadDocumentLenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadDocument">
      <wsdl:input message="tns:downloadDocumentHttpPostIn" />
      <wsdl:output message="tns:downloadDocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <wsdl:input message="tns:PasteHttpPostIn" />
      <wsdl:output message="tns:PasteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateHttpPostIn" />
      <wsdl:output message="tns:CreateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentManagementServiceSoap" type="tns:DocumentManagementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="downloadDocumentLen">
      <soap:operation soapAction="http://tempuri.org/downloadDocumentLen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDocument">
      <soap:operation soapAction="http://tempuri.org/downloadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <soap:operation soapAction="http://tempuri.org/Paste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentManagementServiceSoap12" type="tns:DocumentManagementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="downloadDocumentLen">
      <soap12:operation soapAction="http://tempuri.org/downloadDocumentLen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDocument">
      <soap12:operation soapAction="http://tempuri.org/downloadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <soap12:operation soapAction="http://tempuri.org/Paste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentManagementServiceHttpGet" type="tns:DocumentManagementServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="downloadDocumentLen">
      <http:operation location="/downloadDocumentLen" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDocument">
      <http:operation location="/downloadDocument" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <http:operation location="/Paste" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <http:operation location="/Create" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentManagementServiceHttpPost" type="tns:DocumentManagementServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="downloadDocumentLen">
      <http:operation location="/downloadDocumentLen" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDocument">
      <http:operation location="/downloadDocument" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paste">
      <http:operation location="/Paste" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <http:operation location="/Create" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentManagementService">
    <wsdl:port name="DocumentManagementServiceSoap" binding="tns:DocumentManagementServiceSoap">
      <soap:address location="http://192.168.178.128/Web2Client/DocumentManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentManagementServiceSoap12" binding="tns:DocumentManagementServiceSoap12">
      <soap12:address location="http://192.168.178.128/Web2Client/DocumentManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentManagementServiceHttpGet" binding="tns:DocumentManagementServiceHttpGet">
      <http:address location="http://192.168.178.128/Web2Client/DocumentManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentManagementServiceHttpPost" binding="tns:DocumentManagementServiceHttpPost">
      <http:address location="http://192.168.178.128/Web2Client/DocumentManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>